@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}


html{
  font-family: 'Quicksand', sans-serif;
  background-color: #012E40;
  color: white;
}

h1{
  font-size: 5vh;
  font-weight: bold;
  letter-spacing: .5vh;
  text-align: center;
}

h2{
  font-size: 2.5vh;
  margin-top: 5%;
  text-align: center;
}

h3{
  font-weight: bold;
  font-size: 3vh;
  letter-spacing: 1.25vw;
}

h4{
  font-weight: bold;
  font-size: 2.5vh;
  letter-spacing: 1vw;
  margin-top: 3%;
}

.image{
  display: block;
  height: 32px;
  width: 32px;
}

.image:hover{
  animation: complete180 2s ease;
}

@keyframes complete180 {
  from {
    -webkit-transform:  rotateY(0deg);
		-moz-transform:  rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

p{
  margin-top: 3%;
  font-size: 1.75vh;
  letter-spacing: .5vw;
}

li{
  margin-bottom: 3%;
  letter-spacing: .2vw;
}

a{
  color: white;
  text-decoration: none;
  padding: 3%;
  margin: 5%;
}

.external{
  border-bottom: 1px solid #f27127;
  background-size: 100% 200%;
  background-image: linear-gradient(#012E40 50%, #f27127 50%);
  -webkit-transition: .2s;
    -moz-transition:  .2s linear;
    transition: .2s linear;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover{
  background-position: 0% 100%;
}

td{
  vertical-align: middle;
  padding: 2%;
}

footer{
  font-size: 1.5vh;
  display: grid;
  grid-template-columns: 60% 40%;
 
}

footer div{
 margin-bottom: 5%;
}

.main{
  margin: 10% 10% 15% 10%;
}

.icon{
  height: 32px;
  width: 32px;
  border-radius: 15%;
  padding: 2%;
  border: 1px solid #f27127;
  background-size: 100% 200%;
  background-image: linear-gradient(#012E40 50%, #f27127 50%);
  -webkit-transition: .2s;
    -moz-transition:  .2s linear;
    transition: .2s linear;
  -webkit-transition: .2s ease-in-out;
    -moz-transition:  .2s ease-in-out;
    transition: .2s ease-in-out;
}

.icon:hover{
  transform: scale(1.4);
  background-position: 0% 100%;
}

.hide{
  display: none;
}

.show{
  display: block;
}

@media only screen and (min-width: 600px){
  .hide{
    display: block;
  }

  .project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
  }

  .show{
    display: none;
  }

  
}

@media only screen and (min-width: 800px){
  h1, h2{
    text-align: right;
  }
}

@media only screen and (min-width: 1000px){
  .main{
    margin: 10% 10% 0% 10%;
  }
}